<% if @about.present? %>
  <% if can? :read, @about %>
    <div class="article" id="article-<%= @about.id.to_s %>">
      <%= render partial: 'articles/edit_menu', locals: { article: @about } %>

      <div class="info row">
        <p class="muted published-at span6">
          <% if @about.published? %>
            <small>
              Publised at: <%= @about.published_at.strftime("%Y-%m-%d @ %H:%M") %>
            </small>
          <% else %>
            <span class="label label-warning">Unpublished</span>
          <% end %>
        </p>
      </div>

      <div class="title">
        <h3><%= @about.title %></h3>
      </div>

      <div class="article-content">
        <%= md @about.content, false %>
      </div>
    </div>
  <% end %>
<% else %>
  <p class="muted">
    <%= image_tag "oops.png", class: "img-polaroid" %>
    Ooops.. Nothing out there!
    <% if can? :create, Article %>
      <%= link_to "Create new About?", new_article_path(type: "About") %>
    <% end %>
  </p>
<% end %>
