<% nested ||= nil %>
<% if nested == true %><div class="nested-comments"><% end %>
<div class="comment row-fluid" id="comment-<%= comment.id %>">
  <div class="span1">
    <%= image_tag avatar_url(comment.user), class: "comment-avatar img-polaroid pull-right" %>
  </div>

  <div class="span11 comment-text">
    <div class="comment-header">
      <% if can? :update, comment %>
        <div class="comment-actions btn-group">
          <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
            <i class="icon-wrench"></i>
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <% if can? :edit, comment %>
              <li>
                <%= link_to edit_comment_path(comment), remote: true do %>
                  Edit...
                <% end %>
              </li>
            <% end %>

            <% if can? :ban, comment.user %>
              <li>
                <% if comment.user.banned? %>
                  <%= link_to "Unban user", unban_user_path(comment.user), method: :patch,
                    confirm: "Are you sure?", 'data-confirm-title' => "Ban User: #{truncate(comment.user.name_or_email, length: 20)}?" %>
                <% else %>
                  <%= link_to "Ban user", ban_user_path(comment.user), method: :patch,
                    confirm: "Are you sure?", 'data-confirm-title' => "Ban User: #{truncate(comment.user.name_or_email, length: 20)}?" %>
                <% end %>
              </li>
            <% end %>

            <% if can? :destroy, comment %>
              <li>
                <%= link_to comment, method: :delete, remote: true,
                  confirm: "Are you sure?", 'data-confirm-title' => "Delete comment: #{truncate(comment.text, length: 20)}?" do
                %>
                  Delete...
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= link_to(comment.user) do %>
        <% if comment.user.banned? %>
          <span class="text-error">
            <%= comment.user.name_or_email %> (banned)
          </span>
        <% else %>
          <%= comment.user.name_or_email %>
        <% end %>
      <% end %>
      <small class="comment-created-at muted">
        <i class="icon-calendar"></i> <%= comment.created_at.in_time_zone.strftime("%Y-%m-%d @ %H:%M") %>
      </small>
    </div>
    <%=md comment.text %>
  </div>
  <div class="row-fluid">
    <div class="span11 comment-karma muted">
      <%= render partial: 'karmas/karma', locals: { object: comment } %>

      <% if can? :create, Comment %>
        <%= link_to new_comment_path(parent_id: comment), remote: true, class: "comment-reply", title: "Reply", 'data-toggle' => 'tooltip' do %>
          <small><i class="icon-reply"></i></small>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% if nested == true %></div><% end %>
