$('#comment-<%= @comment.id.to_s %>').next('.nested-comments').fadeOut(function() {
  $(this).remove();
});

var par = $('#comment-<%= @comment.id.to_s %>').parent();

// in user profile
if($('#user-comments-container').length > 0) {
  $('#user-comments-container').replaceWith('<%=j render partial: 'users/comments' %>');
}

$('#comment-<%= @comment.id.to_s %>').fadeOut(function() {
  $(this).remove();
  if($('.comments').find('.comment').length == 0) {
    $('.comments').append('<p class="comment-be-first muted">Be the first to comment</p>');
  }
});

$('#flash_messages').html('<%=j flash_message(flash) %>');
