<table class="table table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>IP</th>
      <th>Browser</th>
      <th>Platform</th>
      <th>User</th>
      <th>Country</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    <% @access_infos.each do |info| %>
      <tr>
        <% geoip = GeoIP.new("#{Rails.root}/public/GeoLiteCity.dat") %>
        <td><%= info.updated_at.strftime("%Y-%m-%d @ %H:%M") %></td>
        <td><%= info.ip %></td>
        <td><%= "#{info.browser} v. #{info.version}" %></td>
        <td><%= info.platform %></td>
        <td><%= info.users ? info.users.collect(&:name_or_email).join(', ') : "none" %></td>
        <td><%= begin
            geoip.city(info.ip).country_name.force_encoding("ISO-8859-1").encode("UTF-8")
          rescue
            "unknown"
          end
        %></td>
        <td><%= begin
          geoip.city(info.ip).city_name.force_encoding("ISO-8859-1").encode("UTF-8")
        rescue
          "unknown"
        end
        %></td>
      </tr>
    <% end %>
  </tbody>
</table>
