<ul class="nav nav-list">
  <li class="nav-header">Articles</li>
  <li>
    <%= link_to new_article_path do %>
      <i class="icon-plus"></i> Create new article
    <% end %>
  </li>
  <li>
    <%= link_to unpublished_articles_path do %>
      <i class="icon-frown"></i> Unpublished articles
    <% end %>
  </li>

  <li class="nav-header">Tags</li>
  <li>
    <%= link_to tags_path do %>
      <i class="icon-tag"></i> Tags
    <% end %>
  </li>

  <li class="nav-header">Users</li>
  <li>
    <%= link_to users_path do %>
      <i class="icon-user"></i> Users
    <% end %>
  </li>

  <li class="nav-header">Visits</li>
  <li>
    <%= link_to '/admin/access_info' do %>
    <i class="icon-globe"></i> Visits
  <% end %>
  </li>
</ul>
