<div class="row-fluid">
  <div class="span3">
    <%= image_tag avatar_url(user, size: 160), class: "img-polaroid" %>
  </div>
  <div class="span9">
    <dl>
      <dt>Name</dt>
      <dd><%= user.name %></dd>
      <% if current_user == user %>
        <dt>Email</dt>
        <dd><%= user.email %></dd>
      <% end %>
      <dt>Role</dt>
      <dd><%= user.role.capitalize rescue "Regular user" %></dd>
      <% if signed_in? && current_user.admin? && user.authentications.any? %>
        <dt>Authentications</dt>
        <dd>
          <%= user.authentications.collect(&:provider).join(", ") %>
        </dd>
      <% end %>
      <% if signed_in? && current_user.admin? && user.access_infos.any? %>
        <dt>Access Info</dt>
        <% user.access_infos.each do |ai| %>
          <dd>
          <%= " #{ai.ip} - #{ai.browser} version #{ai.version} on #{ai.platform}. #{ai.updated_at.in_time_zone.strftime("%Y-%m-%d @ %H:%M")}" %>
          </dd>
        <% end %>
      <% end %>
    </dl>
  </div>
</div>

<hr />

<% if can?(:ban, @user) && @user.role != "admin" %>
  <% if @user.banned? %>
    <%= link_to "Unban", unban_user_path(user), method: :patch, class: "btn btn-danger",
      data: { confirm: "Are you sure?" }, 'data-confirm-title' => "Unban User: #{truncate(user.name_or_email, length: 20)}?" %>
  <% else %>
    <%= link_to "Ban!", ban_user_path(user), method: :patch, class: "btn btn-danger",
      data: { confirm: "Are you sure?" }, 'data-confirm-title' => "Ban User: #{truncate(user.name_or_email, length: 20)}?" %>
  <% end %>
  <hr />
<% end %>

<div class="row-fluid">
  <div class="span12">
  </div>
</div>

<%= render partial: 'users/comments', locals: { user: user } %>
