<% if @about_side.present? && can?(:read, @about_side) %>
  <% if can? :update, @about_side %>
    <%= render partial: 'articles/edit_menu', locals: { article: @about_side } %>
  <% end %>

  <h4><%= @about_side.title %></h4>
  <%= md @about_side.content, false %>
<% else %>
  <h4>About</h4>
  <p>
    <%= image_tag "avatar.jpg", class: "pull-left img-polaroid avatar" %>
    My name is Jiri.<br />
    I write code.
  </p>
  <%= link_to "Karlsruhe, Germany", "https://en.wikipedia.org/wiki/Karlsruhe" %>
  <br /><br />
<% end %>
