<%= form_for @tag do |f| %>
  <div class="control-group<%= @tag.errors.include?(:name) ? " error" : "" %>">
    <%= f.label :name %>
    <div class="controls">
      <%= f.text_field :name %>
      <% if @tag.errors.include?(:name) %>
        <span class="help-inline"><%= @tag.errors[:name].join(', ') %></span>
      <% end %>
    </div>
  </div>

  <div class="control-group<%= @tag.errors.include?(:slug) ? " error" : "" %>">
    <%= f.label :slug %>
    <div class="controls">
      <%= f.text_field :slug %>
      <% if @tag.errors.include?(:slug) %>
        <span class="help-inline"><%= @tag.errors[:slug].join(', ') %></span>
      <% end %>
    </div>
  </div>

  <%= f.submit "Save tag", class: "btn btn-primary" %>
<% end %>
